<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página No Encontrada</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        
		<img src="https://imgs.search.brave.com/cxxFzH5VFKU3M7_7ge19gqdMnyEeLZDoXdqEnVwDpXk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzY3LzY3/LzMxLzY3NjczMWY2/NmNhNDA0NDlkNDI1/YjA2NTEzOWQ5NDI3/LmpwZw">
        <h2>Página No Encontrada</h2>
        <p class="lead">Lo sentimos, pero la página que buscas no existe.</p>
        <a href="/" class="btn btn-primary">Volver a la Página de Inicio</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
